<div class="row">
	<div class="columns nine">
		<h2>Welcome <%= @user.first_name %>! </h2>
	</div>
	<div class="columns three">
		<a href="/sessions" data-method="delete">Logout</a>   
	</div>
</div>


<div class="row">
	<div class="columns three">
		<a href="">Stock Screener</a><br>
		<a href="">Watch List</a><br>
		<a href="">Edit Profile</a>
	</div>

	<div class="columns nine">
		<h2> Stocks</h2>
		<table>
			<thead>
				<tr>
					<th>Symbol</th>
					<th>Revenue</th>
					<th>expenses</th>
					<th>profit</th>
					<th>P/E</th>
					<th>volume</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><button>follow</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
