<div class="row">
	<div class="columns nine">
		<h2>Welcome <%= @user.first_name %>! </h2>
	</div>
	<div class="columns three">
		<a href="/sessions" data-method="delete">Logout</a>   
	</div>
</div>


<div class="row">
	<div class="columns three">
		<a href="">Stock Screener</a><br>
		<a href="">Watch List</a><br>
		<a href="">Edit Profile</a>
	</div>
</div>
<div class="row">
	<div class="columns nine">
		<h1> STOCK CONTENT</h1>
	</div>
</div>