
<h2>Create and Update Stock List</h2>

<a href="/stocks">Go to all Stocks</a>
<form action="/get_all_stocks" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" name="" value="Get all stocks">
</form>

<form action="/update_all_stocks" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" name="" value="Update all stocks">
</form>
