<div class="columns seven ">

			<i class="fa fa-list" aria-hidden="true"></i> <a href="/stocks">All Stocks</a> | 
			<i class="fa fa-search" aria-hidden="true"></i> <a href="/screener">Stock Screener</a> | 
			<i class="fa fa-eye" aria-hidden="true"></i> <a href="/users/<%=current_user.id%>">Watch List</a> | <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <a href="/users/<%=current_user.id%>/edit">Edit Profile</a> | 
			<i class="fa fa-sign-out" aria-hidden="true"></i> <a href="/sessions" data-method="delete">Logout</a>   
		</div>
<h2>Create and Update Stock List</h2>

<a href="/stocks">Go to all Stocks</a>
<form action="/get_all_stocks" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" name="" value="Get all stocks">
</form>

<form action="/update_all_stocks" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" name="" value="Update all stocks">
</form>
